body {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAQ0lEQVQYV2P8+untfwYo+Pb9O5jFxckJE2JghCkAScIkkNlgBcgCyKaBNDC+fvnkP7KRcLOBDJBGwgoIWkGUI/F5EwCz90Jp4ZBkJAAAAABJRU5ErkJggg==);
}

footer {
    color: #FFFFFF;
    background-color: #222;
    padding: 10px;
    -moz-box-shadow:    0px 0px 10px 0px #777;
    -webkit-box-shadow: 0px 0px 10px 0px #777;
    box-shadow:         0px 0px 10px 0px #777;
}

#main-header {
    color: #888;
    text-shadow: none;
}

#main-header .header-number {
    color: #000;
    letter-spacing: -0.20em;
    margin-left: -0.05em;
    margin-right: 0.20em;
    -moz-transition: text-shadow .4s ease;
    -webkit-transition: text-shadow .4s ease;
    -o-transition: text-shadow .4s ease;
}

#main-header .header-number:hover {text-shadow: 3px 3px 1px #666;}

#main-header .header-name {color: #000;}

#contents {color: #000;}
.content {
    background-color: #FFF;
    -moz-box-shadow:    0px 0px 10px 0px #777;
    -webkit-box-shadow: 0px 0px 10px 0px #777;
    box-shadow:         0px 0px 10px 0px #777;
}
/* .content-body>p:first-child:first-letter {color: #333;} */
.content header:before {color: #AAA;}
.content header:after {color: #AAA;}

.content p:last-child:after {color: #AAA;}

nav {
    color: #AAA;
    background-color: #FFF;
    -moz-box-shadow:    0px 0px 10px 0px #777;
    -webkit-box-shadow: 0px 0px 10px 0px #777;
    box-shadow:         0px 0px 10px 0px #777;
}

nav ul {

}

nav ul li:before{color: #AAA;}

code {background-color: #EBE9E4;}
pre {background-color: #EBE9E4;}
/* code {background-color: #F3F1EC;} */
/* pre {background-color: #F3F1EC;} */

a {
    color: #FF5F00;
    -moz-transition: color .2s linear;
    -webkit-transition: color .2s linear;
    -o-transition: color .2s linear;
}

/* .content-body a:before {color: #AAA;} */
a:visited {color: #A63E00;}
a:hover {color: #A61700;}

h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
    color: #AAA;
}

::-moz-selection {background: #FFB573;}
::-webkit-selection {background: #FFB573;}
::selection {background: #FFB573;}