{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        optimus/optimus {:mvn/version "2022-02-13"}
        optimus-autoprefixer/optimus-autoprefixer {:mvn/version "1.0.0-rc1"}
        ring/ring-headers {:mvn/version "0.3.0"}
        ring-server/ring-server {:mvn/version "0.5.0"}
        stasis/stasis {:mvn/version "2.5.1"}
        selmer/selmer {:mvn/version "1.12.50"}
        com.vladsch.flexmark/flexmark {:mvn/version "0.64.0"}
        com.vladsch.flexmark/flexmark-util {:mvn/version "0.64.0"}
        com.vladsch.flexmark/flexmark-ext-attributes {:mvn/version "0.64.0"}
        com.vladsch.flexmark/flexmark-ext-footnotes {:mvn/version "0.64.0"}
        com.vladsch.flexmark/flexmark-ext-gfm-strikethrough {:mvn/version "0.64.0"}
        com.vladsch.flexmark/flexmark-ext-superscript {:mvn/version "0.64.0"}
        com.vladsch.flexmark/flexmark-ext-tables {:mvn/version "0.64.0"}
        org.apache.commons/commons-text {:mvn/version "1.9"}
        rum/rum {:mvn/version "0.12.9"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}}
 :paths ["src" "." "theme"]
 :aliases {:build  {:main-opts ["-m" "www.core"]}
           :serve  {:exec-fn   www.core/serve
                    :exec-args {:port 4000}}
           :lint   {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2022.04.25"}}
                    :main-opts  ["-m" "clj-kondo.main" "--lint" "src"]}
           :format {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
                    :main-opts ["-m" "cljfmt.main" "fix"]}}}
