{:linters {:unsorted-required-namespaces {:level :error}
           :refer-all                    {:level :error}
           :single-key-in                {:level :warning}
           :shadowed-var                 {:level :off}
           :namespace-name-mismatch      {:level :error}
           :unresolved-symbol            {:exclude [(rum.core/defc)]}}}
