{% extends "html/base.html" %}
{%block subtitle %}{{title}}{% endblock %}
{% block meta %}
<meta name="keywords" content="{% for tag in tags %}{{tag.name}}{% if not forloop.last %},{% endif %}{% endfor %}">
{% if description %}
<meta name="description" content="{{description}}">
{% comment %} OpenGraph tags {% endcomment %}
<meta property="og:description" content="{{description}}">
{% endif %}
<meta property="og:url" content="{{site.url}}{{uri}}" />
<meta property="og:title" content="{{title}}" />
<meta property="og:type" content="article" />
{% endblock %}
{% block content %}
<div class="content">
  <div class="content-wrap">
    <p class="date">{{date|date:"yyyy"}} <span class="date-dark">00</span>{{date|date:"MM"}} <span class="date-dark">00</span>{{date|date:"dd"}} </p>
    {% include "html/header-info-post.html" %}
    <header>{{title}}</header>
    <div class="content-body">
      {{content|safe}}
    </div>
  </div>
  {% include "html/post-social.html" %}
</div>
{% endblock %}
