    <p class="social">
      <a href="http://www.facebook.com/sharer.php?u={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;t={{ page.title | cgi_escape }}" 
	 target="_blank" 
	 rel="nofollow" 
	 title="Share on Facebook">F</a>
      <a href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}" 
	 target="_blank" 
	 rel="nofollow" 
	 title="Share on Google+">G</a>
      <a href="http://twitter.com/intent/tweet?url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;text={{ page.title | cgi_escape }}&amp;via=malloc47&amp;related=malloc47" 
	 target="_blank" 
	 title="Tweet"
	 rel="nofollow">T</a>
    </p>
