<meta property="og:title" content="{{site.title}}/{{page.title}}" />
{% if page.title %}<meta property="og:type" content="article" />
<meta property="og:url" content="{{page.url}}" />
{% if page.img %}<meta property="og:image" content="{{page.img}}" />
{% else %}<meta property="og:image" content="/img/title-small.png" />
{% endif %}
{% else %}
<meta property="og:type" content="website" />
<meta property="og:url" content="{{site.url}}" />
<meta property="og:image" content="/img/title.png" />
{% endif %}
