/* Fonts */

@font-face {
    font-family: 'ExistenceLight';
    src: url('../font/Existence-Light-webfont.eot');
    src: url('../font/Existence-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/Existence-Light-webfont.woff') format('woff'),
    url('../font/Existence-Light-webfont.ttf') format('truetype'),
    url('../font/Existence-Light-webfont.svg#ExistenceLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GudeaRegular';
    src: url('../font/Gudea-Regular-webfont.eot');
    src: url('../font/Gudea-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/Gudea-Regular-webfont.woff') format('woff'),
    url('../font/Gudea-Regular-webfont.ttf') format('truetype'),
    url('../font/Gudea-Regular-webfont.svg#GudeaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GudeaItalic';
    src: url('../font/Gudea-Italic-webfont.eot');
    src: url('../font/Gudea-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/Gudea-Italic-webfont.woff') format('woff'),
    url('../font/Gudea-Italic-webfont.ttf') format('truetype'),
    url('../font/Gudea-Italic-webfont.svg#GudeaItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GudeaBold';
    src: url('../font/Gudea-Bold-webfont.eot');
    src: url('../font/Gudea-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/Gudea-Bold-webfont.woff') format('woff'),
    url('../font/Gudea-Bold-webfont.ttf') format('truetype'),
    url('../font/Gudea-Bold-webfont.svg#GudeaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InconsolataMedium';
    src: url('../font/Inconsolata-webfont.eot');
    src: url('../font/Inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/Inconsolata-webfont.woff') format('woff'),
    url('../font/Inconsolata-webfont.ttf') format('truetype'),
    url('../font/Inconsolata-webfont.svg#InconsolataMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Main site components */

body {
    background-position: left top;
    background-repeat: repeat;
    font-size: 13pt;
    font-family: 'GudeaRegular';
    background-color: #777;
}

footer {
    padding: 10px;
    text-align: center;
    font-size: 12px;
}

#miniclock {
    position: absolute;
    float: left;
    top: 10px;
    left: 10px;
}

#main-header {
    padding: 10px;
    margin: 0px auto;
    text-align: center;
    font-size: 28pt;
    font-family: 'ExistenceLight';
    text-shadow: 1px 1px 4px #000000;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#main-header .header-number {
    font-family: 'GudeaRegular';
}

#main-header .header-name {
    font-size: 12pt;
}

#container {
    max-width: 720px;
    padding: 0 10px 10px 10px;
    margin: 0px auto;
}

/* Individual content elements */

#contents {
    text-align: justify;
}

.content {
    padding: 25px 10px 25px 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.content-wrap {
    max-width: 620px;
    margin: 0px auto;
}

.content-body {}

.content:last-child {
    border-style: none;
}

.content header {
    text-align: center;
    font-size: 24pt;
    font-family: 'ExistenceLight';
    margin-bottom: 0.5em;
}

.content header:before {
    content: "\00A7";
    margin-right: 0.1em;
}

.content header:after {
    content: "\00A7";
    margin-left: 0.1em;
}

/* Content options */

.columns {
    -moz-column-count: 2;
    -moz-column-gap: 50px;
    -webkit-column-count: 2;
    -webkit-column-gap: 50px;
    column-count: 2;
    column-gap: 50px;
    padding: 25px 0px 25px 0px;
}

.left {
    padding: 25px 150px 25px 0px;
}

/* navigation */

nav {
    float: center;
    text-align: center;
    font-family: 'InconsolataMedium';
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul {
    width: 100%;
}

nav ul:before {
    content: "\227A ";
}

nav ul:after {
    content: "\227B ";
}

nav ul li { 
    display: inline; 
}

nav ul li:before{
    content: "/";
}

nav ul li:first-child {
    border-left: 0px none;
}

/* content styles */

.content>*>*>* {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.content p:last-child:after {
    content: " \2318";
}

.content ul, ol{
    margin-left: 3em;
}

.content ul {
    list-style-type: circle;
}

.content ol {
    list-style-type: decimal;
}

.content ol li, .content ul li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.content ol li:first-child, .content ul li:first-child {
    padding-top: 0em;
}

.content ol li:last-child, .content ul li:last-child {
    padding-bottom: 0em;
}

em {
    font-family: 'GudeaItalic';
}

strong {
    font-family: 'GudeaBold';
}

code {
    font-family: 'InconsolataMedium';
}

pre {
    overflow:auto;
    padding: 5px;
}

pre code {

}

blockquote {
    margin-left: 2.5em;
    border-left: 2px solid;
    padding-left: 0.5em;
}

/* .content-body a:before { */
/*     content: "/"; */
/* } */

h1, h2, h3, h4, h5, h6 {font-family: 'ExistenceLight';}
h1 {font-size: 24pt;}
h2 {font-size: 20pt;}
h3 {font-size: 18pt;}
h4 {font-size: 16pt;}
h5 {font-size: 14pt;}
h6 {font-size: 12pt;}

h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
    content: "\00A7";
}