{% extends "layouts/base.html" %}
{%block subtitle %}{{metadata.title}}{% endblock %}
{% block content %}
{% for post in content %}
<div class="content">
  <div class="content-wrap">
    <p class="date">{{post.metadata.date|date:"yyyy"}} <span class="date-dark">00</span>{{post.metadata.date|date:"MM"}} <span class="date-dark">00</span>{{post.metadata.date|date:"dd"}} </p>
    {% include "layouts/header-info.html" %}
    <header><a href="{{post.uri}}">{{post.metadata.title}}</a></header>
    <div class="content-body">
      {{post.content|safe}}
    </div>
  </div>
</div>
{% endfor %}
{% if any next-uri prev-uri %}
<nav id="pagination">
  {% if prev-uri %}
  <a class="left" href="{{prev-uri}}">&#8826; Newer</a>
  {% endif %}
  {% if next-uri %}
  <a class="right" href="{{next-uri}}">Older &#8827;</a>
  {% endif %}
</nav>
{% endif %}
{% endblock %}
