{% extends "layouts/base.html" %}
{%block subtitle %}{{metadata.title}}{% endblock %}
{% block meta %}
<meta name="keywords" content="{% for tag in tags %}{{tag.name}}{% if not forloop.last %},{% endif %}{% endfor %}">
{% if metadata.description %}
<meta name="description" content="{{description}}">
<meta property="og:description" content="{{description}}">
{% endif %}
<meta property="og:url" content="{{site.url}}{{uri}}" />
<meta property="og:title" content="{{metadata.title}}" />
<meta property="og:type" content="article" />
{% endblock %}
{% block content %}
<div class="content">
  <div class="content-wrap">
    <p class="date">{{metadata.date|date:"yyyy"}} <span class="date-dark">00</span>{{metadata.date|date:"MM"}} <span class="date-dark">00</span>{{metadata.date|date:"dd"}} </p>
    {% include "layouts/header-info-post.html" %}
    <header>{{metadata.title}}</header>
    <div class="content-body">
      {{content|safe}}
    </div>
  </div>
  {% include "layouts/post-social.html" %}
</div>
{% endblock %}
