body {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAQ0lEQVQYV2P8+untfwYo+Pb9O5jFxckJE2JghCkAScIkkNlgBcgCyKaBNDC+fvnkP7KRcLOBDJBGwgoIWkGUI/F5EwCz90Jp4ZBkJAAAAABJRU5ErkJggg==);
}

footer {
    color: #FFFFFF;
    background-color: #222;
    box-shadow:         0px 0px 10px 0px #777;
}

#main-header {
    color: #888;
    text-shadow: none;
}

#main-header .header-number {
    color: #000;
    letter-spacing: -0.20em;
    margin-left: -0.05em;
    margin-right: 0.20em;
    transition: text-shadow .4s ease;
}

#main-header .header-number:hover {text-shadow: 3px 3px 1px #666;}

#main-header .header-name {color: #000;}

#contents {color: #000;}
.content {
    background-color: #FFF;
    box-shadow:         0px 0px 10px 0px #777;
}
/* .content-body>p:first-child:first-letter {color: #333;} */
.date {color: #444;}
.date-dark {color:#BBB;}
.social a, .social a:visited {
    color: #6771A1;
    text-decoration: none;
}
.social a:hover {
    color: #ACB7EB;
    text-shadow: 1px 1px 2px #ACB7EB;
}

.content p:last-child:after {color: #AAA;}

nav {
    color: #AAA;
    background-color: #FFF;
    box-shadow:         0px 0px 10px 0px #777;
}

nav ul li:before{color: #AAA;}

code {background-color: #EEECE7;}
pre {background-color: #EEECE7;}

a {
    color: #FF5F00;
    transition: color .2s linear;
}

/* .content-body a:before {color: #AAA;} */
a:visited {color: #FF3E00;}
a:hover {color: #A61700;}

h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
    color: #AAA;
}

::selection {
    background: #FFB573;
    color: #000;
}
