---
layout: main
---
{% for post in paginator.posts %}
<div class="content">
  <div class="content-wrap">
    <p class="date">{{ post.date | date:"%Y" }} <span class="date-dark">00</span>{{ post.date | date:"%m" }} <span class="date-dark">00</span>{{ post.date | date:"%d" }} </p>
    <p class="social">
      <a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ post.url }}&t={{ post.title }}" 
	 target="_blank" 
	 rel="nofollow" 
	 title="Share on Facebook">F</a>
      <a href="https://plusone.google.com/_/+1/confirm?hl=en&url={{ site.url }}{{ post.url }}" 
	 target="_blank" 
	 rel="nofollow" 
	 title="Share on Google+">G</a>
      <a href="http://twitter.com/intent/tweet?url={{ site.url }}{{ post.url }}&text={{ post.title}}&via=malloc47&related=malloc47" 
	 target="_blank" 
	 title="Tweet"
	 rel="nofollow">T</a>
    </p>
    <header><a href="{{ post.url }}">{{ post.title }}</a></header>

    <div class="content-body">
      {{ post.content }}
    </div>
  </div>
</div>
{% endfor %}
