---
---
<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="icons-left">
      <canvas id="miniclock" width="50" height="50" class="selectable"></canvas>
      <span id="toggle" class="transparent-light toggle selectable"></span>
    </div>
    {% include social.html %}
    <div id="container">
      {% include header.html %}
      {% include nav.html %}
      <div id="contents" role="main">
	    {{ content }}
      </div>
      {% include nav-pagination.html %}
      {% include footer.html %}
	</div>
  </body>
</html>
